<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tribuanabagus.belajarbahasainggris">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /><!--    WAJIG ADA, klu tak di hp vivo api 30 tidak bs klik app penyedia file audionya-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeechRecognition"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.profile.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.teacher.kelolasoal.pairQ.uploadpairq.UploadPairQActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.teacher.kelolasoal.pairQ.uploadpair.UploadPairActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.student.play.pair.PairPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.profile.UserProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.teacher.kelolasoal.guessQ.upload.UploadGuessQActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.teacher.kelolasoal.lessonQ.upload.UploadLessonQActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_upload_lesson_qactivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpeechRecognition">
        </activity>
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.teacher.TeacherActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.auth.AuthActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_auth"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpeechRecognition" />
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.main.ui.student.StudentActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpeechRecognition" />
        <activity
            android:name="com.tribuanabagus.belajarbahasainggris.view.splash.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpeechRecognition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>